.board {
  height: 100%;
  width: 100%;
}
.button {
  background-color: #151965;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.box {
  float: left;
  height: 55px;
  padding: 5px;
  width: 55px;
}