<div class="board">
 <button class="button" (click)="onStartClick()">{{ startText }}</button>
 <div class="board-boxes">
   <my-box class="box"
  *ngFor="let box of (boxes$ | async)" 
  [box]="box"
  (boxClick)="onBoxClick($event)">
  </my-box>
 </div>
</div>